<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">
	<title>TOEIC VOCA</title>
</head>

<body>
<div layout:fragment="content">
	<div id="join_wrap" class="wrap">
    	<div class = "form_wrap">
      		<h1>회원가입</h1>
	 		<form action="/member/join" role="form" name ="join_form" method="post" th:object="${memberDto}" onsubmit="return sendit()">
        		<label th:for="memberId" class="label">아이디  <span th:if="${#fields.hasErrors('memberId')} == true" class="errorMsg">
        		[4자 이상 12자 이하로<br>　　　　영문과 숫자만 입력해주세요]</span></label>
         		<div class="form_line"><input type="text" th:field="*{memberId}" th:classappend="${#fields.hasErrors('memberId')} == true ? 'fieldError'">
         		</div>
         		<label th:for="password" class="label">비밀번호  <span th:if="${#fields.hasErrors('password')} == true" class="errorMsg">
         		[8자 이상 16자 이하로 입력해주세요]</span></label>
         		<div class="form_line"><input type="password" th:field="*{password}" th:classappend="${#fields.hasErrors('password')} == true ? 'fieldError'">
         		</div>
         		<label th:for="password" class="label">비밀번호 확인</label>
         		<div class="form_line"><input type="password" id="password_ch">
         		</div>
         		<label th:for="name" class="label">이름 <span th:if="${#fields.hasErrors('name')} == true" class="errorMsg">
         		[8자 이하로 입력해주세요]</span></label>
         		<div class="form_line"><input type="text" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} == true ? 'fieldError'">
         		</div>
        		<div class="form_line"><input type="submit" value="회원가입" class="form_btn"></div>
        		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			</form>
		</div>
	</div>    
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		if([[${errorMessage}]] != null){
			alert([[${errorMessage}]]);
 		}
 		
 		const sendit = () => {
 			const password = document.join_form.password;
 			const password_ch = document.join_form.password_ch;
 		
 			if(password.value != password_ch.value) {
 				alert("비밀번호가 다릅니다. 다시 입력해주세요.")
 				return false;
 		    }
 			
 			return true;
 		}
 		
  		if([[${msg}]] != null) {
			var message = [[${msg}]];
			var url = [[${url}]];
			alert(message);
			document.location.href = url;
 		}
    </script>
</th:block>
</body>

</html>