<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">
	<meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<script src="//code.jquery.com/jquery.min.js"></script>
	<title>TOEIC VOCA</title>
</head>

<body>
<div layout:fragment="content">
	<div id="quiz_wrap" class="wrap">
    	<div>
    		<div class="day">DAY [[${day}]]</div>
    		<div class="q"><h3>[[${q}]]/40</h3></div>
    		<h1>[[${quiz.voca}]]<button type="button" id="read"><img src="/img/read.png" width="23px" height="18px"></button></h1>
 			
 			<input type="text" id="ex">
    		<input type="button" id="study_btn" class="main_btn" value="정답확인" onclick="checkAns()">
    		
    		<div id="answer" class="hide"> 
      			<div class="answer">[[${quiz.answer}]]</div> 
				<button type="button" id="study_btn" class="main_btn" onclick="addWrong()">오답추가</button>
			</div>
			
			<div th:if="${q == 40}" class="next_btn"><a th:href="@{/study/wrong(day = ${day}, page = 1)}">DAY [[${day}]] 완료 ></a></div>
			<div th:unless="${q == 40}" class="next_btn"><a th:href="@{/study/quizB(day = ${day}, q = ${q}+1)}">다음 ></a></div>
 			
 		</div>
  	</div>
</div>

 <th:block layout:fragment="script">
    <script type="text/javascript">
    	const read = document.getElementById("read")
    	
    	read.addEventListener("click", e => {
      		speak('[[${quiz.voca}]]')
    	})
 
    	function speak(text) {
      		if (typeof SpeechSynthesisUtterance === "undefined" || typeof window.speechSynthesis === "undefined") {
          		alert("이 브라우저에서는 음성을 지원하지 않습니다")
      		}
      
      		window.speechSynthesis.cancel()

      		const speechMsg = new SpeechSynthesisUtterance()
      		speechMsg.rate = 0.9   
      		speechMsg.pitch = 1 
      		speechMsg.lang = "en-US"
      		speechMsg.text = text

      		window.speechSynthesis.speak(speechMsg)
  		}
    
		function addWrong() {
    	
    		var token = $("meta[name='_csrf']").attr("content");
        	var header = $("meta[name='_csrf_header']").attr("content");

    		$.ajax({
    	　　	type:'post', 
    	  		contentType:'application/json', 
    	  		data: {
    				day : '[[${day}]]',
    				q : '[[${q}]]'				
    	　　	}, 
    	  		url: '/study/quizB', 
    	  		contentType: "application/x-www-form-urlencoded; charset=UTF-8", 
    	  		beforeSend : function(xhr){
                	xhr.setRequestHeader(header, token);
            	}, success: function(data) {
    				if([[${q}]] == 40) {
                		location.href="/study/wrong?day=[[${day}]]&page=1";
              		} else {
              			location.href="[[${#httpServletRequest.requestURI}]]?day=[[${day}]]&q=[[${q}+1]]";}
    	　　	}, error:function(e) {
    	　　　　	alert("error: " + e);
    	　　	}		
    		});
    	}
		
		function checkAns() {
			document.getElementById('answer').classList.add('reveal');
		}
		
		$("#ex").keydown(function(key) {
			if(key.keyCode == 13){
			checkAns();
			}
		});
    </script>
 </th:block>
</body>

</html>